.container {
  box-sizing:border-box;
  border:2px solid white;
  height:400px;
  width:400px;
  margin:auto;
  background-color:cornflowerblue;
}
*{
  text-align:center;
  background-color:cornflowerblue;
}
button{
  background-color: lightgray;
}

.bar-container{
  margin: 10px;
	height: 30px;
	background-color: white;
}

.bar-bar {
  margin-top: 10px;
  margin-bottom: 10px;
	height: 30px;
	background-color: yellow;
}